<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ css|safe }}
</head>

<body>
  <div class="container">
    <header>
      <h2>เปลี่ยนรหัสผ่านสำเร็จแล้ว</h2>
    </header>
    <section class="welcome-section">
      <br>
      <p>เรียนคุณ <b>{{first_name}} {{last_name}}</b>,</p>
      <br>
      <p>รหัสผ่านสำหรับ
        {{ email }} ได้ถูกเปลี่ยนเรียบร้อยแล้ว
      </p>
      <p>หากคุณไม่ต้องการเปลี่ยน หรือไม่ได้ทำรายการเปลี่ยนรหัสผ่านนี้</p>
      <p>กรุณาแจ้งแอดมินผ่านช่องทางอีเมลล์นี้ได้ตลอดเวลา</p>
    </section>
    <footer>
      <p>&copy; 2023 luna-manga.com All rights reserved.</p>
    </footer>
  </div>
</body>

</html>