<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ css|safe }}
</head>

<body>
  <div class="container">
    <header>
      <h2>กำหนดรหัสผ่านใหม่</h2>
    </header>
    <section class="welcome-section">
      <br>
      <p>เรียนคุณ <b>{{first_name}} {{last_name}}</b>,</p>
      <br>
      <p>กรุณากำหนดรหัสผ่านใหม่ของคุณได้ที่ลิ้งค์ด้านล่าง</p>
      <br>
      <div class="reset-password-button-container"><a href="http://{{ reset_password_link }}" class="reset-password-button">กำหนดรหัสผ่านใหม่</a></div>
      <br>
      <p>กรุณานำรหัสนี้ไปใช้ภายใน 20 นาที หากคุณไม่ต้องการเปลี่ยน หรือไม่ได้ทำรายการเปลี่ยนรหัสผ่านนี้ คุณไม่จำเป็นต้องดำเนินการใด ๆ</p>
    </section>
    <footer>
      <p>&copy; 2024 luna-manga.com All rights reserved.</p>
    </footer>
  </div>
</body>

</html>